# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# results
figures/
outputs/runs/
outputs/prior*

# latex typesetting
.texpadtmp/
*.key
fancyhdr.sty
natbib.sty
bib_style.bst
