# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# results
figures/
outputs/runs/
outputs/prior*

# latex typesetting
doc/*
!doc/report.pdf
!doc/report.tex
!doc/body_style.sty

assignment_code/*.csv
